# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

### JetBrains IDEs:
.idea
*.iml
*.ipr
*.iws

build
.gradle
.DS_Store
target
out
logs
*~
classes
